[Unit]
Description=consul-haproxy
After=consul.service
Requires=consul.service
Requires=haproxy.service

[Service]
Restart=on-failure

# Consul address needs to be specified here, not in conf.json
ExecStart=/bin/consul-haproxy \
    -f /etc/consul-haproxy/consul-haproxy-conf.json \
    -addr {{ private_ip }}:8500

[Install]
WantedBy=multi-user.target
